.Get-Started-btn{
height: 50px;
width: 120px;
background: rgba(97, 184, 70, 1);
border: 1px solid;
color:#ffff;
box-shadow: 0px 4px 4px 2px #D4D3D3;
border-radius: 10px;
padding: 0px !important;
}
.Get-Started-btn:hover{
    transition:.3s ease-in-out ;
    background: rgb(91, 245, 44);
    color:#ffff;
    box-shadow: 0px 4px 4px 2px #D4D3D3;
    }
.main-heading{
    color: #61b846;
}
.sub-heading{
    color:#024f9d;
}